.logo {
  fill: #8390a2;
  margin-right: 10px;
}

.logoName {
  color: #8390a2;
  font-weight: 800;
  font-size: 18px;
  font-family: 'MuseoModerno', cursive;
}

.logout {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.logoutSvg {
  position: relative;
  top: 4px;
  fill: #8390a2;
}

.userName {
  color: #8390a2;

  font-size: 15px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid;
  text-transform: capitalize;
}
.exit {
  color: #8390a2;
  font-size: 15px;
}

.container {
  margin: 0 auto;
  width: 303px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.wrapper {
  height: 40px;
  background-color: #284060;
}

.logoBox .userInfo {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    height: 80px;
    background-color: #e5e5e5;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 0;
  }

  .container {
    width: 705px;
    height: 80px;
  }

  .logo {
    position: relative;
    top: 4px;
    fill: #344b68;
  }

  .logoName {
    color: #344b68;
  }
  .logout > span {
    margin-left: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    margin-bottom: 46px;
  }

  .container {
    width: 1192px;
  }
}
