.titleBox {
    width: 303px;
    margin: 0 auto;
    text-align: left;
}

.title {
    color: #ffffff;
    font-size: 12px;
    line-height: 40px;
    font-weight: bold;
}

.wrapper {
    background-color: #3a5374;
}

.btn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .wrapper {
        background-color: #f2f4f3;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }

    .btn {
        display: none;
    }

    .title {
        color: #000000;
        font-size: 15px;
        font-weight: bold;
    }

    .titleBox {
        text-align: center;
    }
}