.form {
  display: flex;
  margin: 0 auto;
  height: 380px;
  width: 311px;
  background-image: url('./images/Ractangle.png');
  background-position-x: 36%;
  background-position-y: 20%;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: #2c353e;
}

.name {
  height: 64px;
  text-transform: uppercase;
  background-color: #f8fbfe;
  font-size: 15px;
}

.name > th:first-child {
  padding-left: 16px;
}

.row {
  height: 40px;
  border-bottom: 1px solid #f8fbfe;
  font-size: 13px;
}
.container {
  margin-top: 30px;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .form {
    height: 100vh;
    background-image: none;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .form {
    height: 190px;
    width: 353px;
    background-image: none;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 705px;
    margin: 0 auto;
  }
  .form {
    box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 309px;
    position: absolute;
    top: 100px;
  }

  .form {
    left: 0px;
  }
}
