.nav {
    height: 40px;
    background-color: #3a5374;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link .button {
    background-color: #2a4262;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin-left: 6px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

.link .text {
    color: #66778e;
    font-size: 15px;
}

.link .amount {
    color: #617490;
    font-size: 15px;
}

.active .text {
    color: #ffffff;
}

.active .amount {
    color: #2a4262;
}

.active .button {
    background-color: #66778e;
}

.link .svg {
    width: 29px;
    height: 25px;
    fill: #a9b3c0;
    padding: 0px;
}

.active .svg {
    fill: #ffffff;
}

.box {
    margin: 0px;
}

@media screen and (min-width: 768px) {
    .nav {
        height: 84px;
        background-color: #f8fff8;
    }

    .link .button {
        background-color: transparent;
        border: none;
        border-radius: 5px 5px 5px 5px;
        margin-left: 6px;
        margin-right: 6px;
        outline: none;
    }

    .active .svg {
        fill: #2a4262;
    }

    .link {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .btnBox {
        display: flex;
        align-items: center;
    }

    .text {
        align-self: flex-center;
        padding-right: 3px;
    }
    .active .text {
        color: #284060;
    }

    .svg {
        margin-bottom: 5px;
    }
    .textBalance {
        color: #ffffff;
        margin-left: 25px;
        font-size: 15px;
    }
    
    .amountBalance {
        color: #ffffff;
        margin-right: 30px;
        font-size: 15px;
    }

}

@media screen and (min-width: 1280px) {
    .nav {
        width: 311px;
        flex-wrap: wrap;
        align-items: center;
        background-color: #284060;
        padding-top: 40px;
        padding-bottom: 30px;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15);
    }

    .link {
        align-items: flex-start;
    }

    .active .btnBox {
        background-color: #3a5374;
    }

    .link .svg {
        fill: #b2bbc7;
        margin-left: 25px;
    }

    .link .text {
        color: #b2bbc7;
        margin-left: 25px;
    }

    .link .amount {
        color: #b2bbc7;
        margin-right: 30px;
    }

    .active .svg {
        fill: #ffffff;
    }

    .active .text {
        color: #ffffff;
    }

    .active .amount {
        color: #ffffff;
        
    }

    .btnBox {
        width: 311px;
        height: 40px;
        background-color: #284060;
    }

    .button {
        margin-left: 0px;
        padding: 0px;
    }
    
    .balance {
        display: flex;
        justify-content: space-between;
        height: 90px;
        margin-top: 30px;
    }
    .box {
        width: 1192px;
        margin-left: auto;
        margin-right: auto;
      }
}