.balance {
  box-sizing: border-box;
  width: 309px;
  height: 80px;
  background-color: #284060;
  margin: 20px auto;
  display: flex;
  align-items: center;
  border-radius: 4px 4px 4px 4px;
  padding: 20px;
}

.text,
.amount {
  color: #ffffff;
  font-size: 15px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .balance {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .box {
    position: relative;
    top: 167px;
    left: -309px;
  }
}

@media screen and (min-width: 1280px) {
  .box {
    top: 0px;
    left: 0px;
  }

  .balance {
    box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15);
  }
}
